body.dark-mode {
    background-image: url(./fondoN.webp);
}

.dark-mode .generacion-1, .dark-mode .generacion-2, .dark-mode .generacion-3, .dark-mode .generacion-4, .dark-mode .generacion-5, .dark-mode .generacion-6, .dark-mode .generacion-7, .dark-mode .generacion-8{
    border: 0px solid;
}

.dark-mode #lista::-webkit-scrollbar-thumb{
    background-color: white;
}
.dark-mode #lista::-webkit-scrollbar-thumb:hover{
    background-color: #444;
}

.dark-mode .modal-content {
    background-color: #333;
    color: #ccc;
}

.dark-mode .modal-header {
    border-bottom: 1px solid #444;
}

.dark-mode .modal-footer {
    border-top: 1px solid #444;
}

.dark-mode h5{
    color: white;
}

.dark-mode #lista, .dark-mode #buscador{
    background-color: #0000009a;
    border-color: #333;
}

.dark-mode #buscador {
    color: #ffffff;
}
.dark-mode #buscador::placeholder {
    color: #c5c5c5;
}

.dark-mode .pokemon-card {
    background-color: #1e1e1e;
    border-color: #333;
}

.dark-mode .detalle-info,.dark-mode .detalle-imagen, .dark-mode #detalles{
    background-color: #333;
    color: #ccc;
}

.dark-mode #titulos{
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

#titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    background-image: url(https://th.bing.com/th/id/R.57b7cdbd2ff4665c5cb8f50f4af429a8?rik=K7QBX8afl%2b1mWw&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    font-size: 6em;
    -webkit-text-stroke: 2px black;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
}

body {
    background-image: url(./fondo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
}

.input-group {
    width: 100%;
    padding: 0;
}
#buscador {
    padding: 10px 20px;
    font-size: 16px;
    flex: 1 0 90%; 
}
.input-group .btn {
    flex: 0 1 auto;
}

#Limpiar, #Mic {
    flex: 1 0 ;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}
#Mic {
    top: -4%;
    margin-right: 2.32678%;
}
#Mic img {
    color: transparent;
    max-height: 65%;
}

#lista {
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 200px);
    padding: 2%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}
#lista:hover > :not(:hover){
    opacity: 0.6;
    transition: 0.5s ease-in-out;
}

#lista::-webkit-scrollbar{
    color: transparent;
}
#lista::-webkit-scrollbar-thumb{
    background-color: #727272;
    border-radius: 10px;
}
#lista::-webkit-scrollbar-thumb:hover{
    background-color: #333;
}

.generacion-1 {
    border: 2px solid #1e9c12;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(30, 156, 18, 0.2);
}
.generacion-2 {
    border: 2px solid #a890f0;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(168, 144, 240, 0.2);
}
.generacion-3 {
    border: 2px solid #f85888;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(248, 88, 136, 0.2);
}
.generacion-4 {
    border: 2px solid #6890f0;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(104, 144, 240, 0.2);
}
.generacion-5 {
    border: 2px solid #78c850;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(120, 200, 80, 0.2);
}
.generacion-6 {
    border: 2px solid #f08030;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(240, 128, 48, 0.2);
}
.generacion-7 {
    border: 2px solid #7038f8;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(112, 56, 248, 0.2);
}
.generacion-8 {
    border: 2px solid #98d8d8;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(152, 216, 216, 0.2);
}

#pokemonChart{
    width: 400px;
    height: 400px;
}

#pokemon-card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

#pokemon-card:hover {
    cursor: pointer;
}

.detalle-flex-container {
    display: flex;
    align-items: center;
}
.detalle-imagen img {
    width: 100%;
    height: 400px;
    max-height: 400px;
    object-fit: contain;
    margin: auto;
    display: block;
}
.detalle-info {
    width: 100%;
    flex: 1;
}

@media (max-width: 799px) {
    .modal-body .row .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card-img-top {
        max-height: 150px;
    }

    .detalle-imagen img {
        max-height: 300px;
    }

    .modal-dialog {
        width: auto;
        margin: 10px;
    }
    .modal-lg {
        max-width: 100%;
    }
    .detalle-imagen img {
        max-height: 300px;
    }
    #pokemonChart {
        height: 300px;
    }

}

@media (min-width: 576px) {
    .col-sm-6.col-md-4.col-lg-3.mb-4 {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .col-sm-6.col-md-4.col-lg-3.mb-4 {
        width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .col-sm-6.col-md-4.col-lg-3.mb-4 {
        width: 25%;
    }
}

@media (min-width: 800px) {
    .modal-body .row .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .detalle-imagen img {
        max-height: 400px;
    }
} 

@media only screen and (max-width: 800px) {

    #buscador, #Limpiar, #Mic{
        margin-top: 5%;
    }

    #ModoOscuro{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 90% !important;
        z-index: 1000;
    }

    #titulos{font-size: 0%;}

    #lista {
        width: 100%;
        height: 85vh;
        left: 0;
        right: 0;
    }

    #pokemonChart {
        width: 250px;
        height: 250px;
    }

    .detalle-imagen img {
        height: 0px;
        max-height: 0px;
    }

    .card-img-top {
        height: 150px;
    }

}

.tipo-Normal, .tipo-Fuego, .tipo-Agua, .tipo-Eléctrico, .tipo-Planta, .tipo-Hierba, .tipo-Hielo, .tipo-Lucha, .tipo-Veneno, .tipo-Tierra, .tipo-Roca, .tipo-Volador, .tipo-Psíquico, .tipo-Bicho, .tipo-Fantasma, .tipo-Dragon, .tipo-Dragón, .tipo-Siniestro, .tipo-Acero, .tipo-Hada {
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.tipo-Normal { background-color: #A8A77A; border: #999600 solid 2px; }
.tipo-Fuego { background-color: #EE8130; border: #ff6f00 solid 2px; }
.tipo-Agua { background-color: #6390F0; border: #0051ff solid 2px; }
.tipo-Eléctrico { background-color: #F7D02C; border: #ffcc00 solid 2px; }
.tipo-Planta, .tipo-Hierba { background-color: #7AC74C; border: #5eff00 solid 2px; }
.tipo-Hielo { background-color: #96D9D6; border: #00fff2 solid 2px; }
.tipo-Lucha { background-color: #C22E28; border: #ff0800 solid 2px; }
.tipo-Veneno { background-color: #A33EA1; border: #b402b1 solid 2px; }
.tipo-Roca { background-color: #f1dfaf; border: #ffe292 solid 2px; }
.tipo-Tierra { background-color: #E2BF65; border: #ffb700 solid 2px; }
.tipo-Volador { background-color: #A98FF3; border: #4400ff solid 2px; }
.tipo-Psíquico { background-color: #F95587; border: #ff004c solid 2px; }
.tipo-Bicho { background-color: #A6B91A; border: #e1ff00 solid 2px; }
.tipo-Fantasma { background-color: #735797; border: #8835f5 solid 2px; }
.tipo-Dragon, .tipo-Dragón { background-color: #6F35FC; border: #4800ff solid 2px; }
.tipo-Siniestro { background-color: #705746; border: #c26629 solid 2px; }
.tipo-Acero { background-color: #B7B7CE; border: #4d4df7 solid 2px; }
.tipo-Hada { background-color: #D685AD; border: #ff4ba5 solid 2px; }